In [1]:
## Import Libraries
import pandas as pd

In [2]:
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
## get Features
X = heart_disease.drop('target',axis=1)

## get Labels
Y = heart_disease['target']

In [5]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [6]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [10]:
## Choosing Model
from sklearn.ensemble import RandomForestClassifier

## an instance of our classifier
rf_clf = RandomForestClassifier()

rf_clf.get_params() ## hyper parameters

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:
## Fit the model

## splitting Data
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [15]:
rf_clf.fit(x_train,y_train)

RandomForestClassifier()

In [18]:
y_pred = rf_clf.predict(x_test)

In [19]:
y_pred

array([1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0], dtype=int64)

In [20]:
rf_clf.score(x_train,y_train)

1.0

In [21]:
rf_clf.score(x_test,y_test)

0.8524590163934426

In [27]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

print(classification_report(y_test,y_pred))
print(50*'-')
print(confusion_matrix(y_test,y_pred))
print(50*'-')
print(accuracy_score(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.81      0.85        32
           1       0.81      0.90      0.85        29

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.86      0.85      0.85        61

--------------------------------------------------
[[26  6]
 [ 3 26]]
--------------------------------------------------
0.8524590163934426

In [36]:
## Let's tune n-estimators -> n-estimators is a hyper parameter which shows the number of trees in the forest.
for i in range(10,105,5):
    print(f"With {i} as n_estimator : ")
    rf_clf = RandomForestClassifier(n_estimators=i)
    rf_clf.fit(x_train,y_train)
    print(f"The Score of Classifier is : {rf_clf.score(x_test,y_test) * 100:.2f}%")

## as we can observe in the following output the n-estimator with value = 20 is the best.

With 10 as n_estimator :
The Score of Classifier is : 81.97%
With 15 as n_estimator :
The Score of Classifier is : 83.61%
With 20 as n_estimator :
The Score of Classifier is : 88.52%
With 25 as n_estimator :
The Score of Classifier is : 81.97%
With 30 as n_estimator :
The Score of Classifier is : 78.69%
With 35 as n_estimator :
The Score of Classifier is : 85.25%
With 40 as n_estimator :
The Score of Classifier is : 81.97%
With 45 as n_estimator :
The Score of Classifier is : 83.61%
With 50 as n_estimator :
The Score of Classifier is : 86.89%
With 55 as n_estimator :
The Score of Classifier is : 86.89%
With 60 as n_estimator :
The Score of Classifier is : 85.25%
With 65 as n_estimator :
The Score of Classifier is : 83.61%
With 70 as n_estimator :
The Score of Classifier is : 83.61%
With 75 as n_estimator :
The Score of Classifier is : 85.25%
With 80 as n_estimator :
The Score of Classifier is : 83.61%
With 85 as n_estimator :
The Score of Classifier is : 83.61%
With 90 as n_estimator :
The Score of Classifier is : 80.33%
With 95 as n_estimator :
The Score of Classifier is : 83.61%
With 100 as n_estimator :
The Score of Classifier is : 85.25%

In [37]:
## let's do the prediction for 75 n-estimator

rf_clf = RandomForestClassifier(n_estimators = 20)
rf_clf.fit(x_train,y_train)
y_pred = rf_clf.predict(x_test)


print(classification_report(y_test,y_pred))
print(50*'-')
print(confusion_matrix(y_test,y_pred))
print(50*'-')
print(accuracy_score(y_test,y_pred))
print(50*'-')
print(rf_clf.score(x_test,y_test))

              precision    recall  f1-score   support

           0       0.93      0.78      0.85        32
           1       0.79      0.93      0.86        29

    accuracy                           0.85        61
   macro avg       0.86      0.86      0.85        61
weighted avg       0.86      0.85      0.85        61

--------------------------------------------------
[[25  7]
 [ 2 27]]
--------------------------------------------------
0.8524590163934426
--------------------------------------------------
0.8524590163934426